[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "thirdparty/reveal.js"]
	path = thirdparty/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "thirdparty/ostrich-sans"]
	path = thirdparty/ostrich-sans
	url = https://github.com/theleagueof/ostrich-sans
[submodule "thirdparty/qubes-diagrams"]
	path = thirdparty/qubes-diagrams
	url = https://github.com/rootkovska/qubes-diagrams
[submodule "thirdparty/apropal"]
	path = thirdparty/apropal
	url = https://github.com/warszawskie-kroje/apropal
[submodule "thirdparty/cyrulik"]
	path = thirdparty/cyrulik
	url = https://github.com/warszawskie-kroje/cyrulik
