@font-face {
    font-family: 'Source Sans Pro';
    src: url('source-sans-pro/SourceSansPro-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('source-sans-pro/SourceSansPro-It.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('source-sans-pro/SourceSansPro-ExtraLight.otf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('source-sans-pro/SourceSansPro-ExtraLightIt.otf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('source-sans-pro/SourceSansPro-Light.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('source-sans-pro/SourceSansPro-LightIt.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('source-sans-pro/SourceSansPro-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('source-sans-pro/SourceSansPro-SemiboldIt.otf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('source-sans-pro/SourceSansPro-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('source-sans-pro/SourceSansPro-BoldIt.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('source-sans-pro/SourceSansPro-Black.otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('source-sans-pro/SourceSansPro-BlackIt.otf');
    font-weight: 900;
    font-style: italic;
}
